{% extends "base.html" %}

{% block title %}Flasky {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Edit blog</h1>
</div>

   <form action="{{ url_for('main.edit' , id=form.id.data) }}" class="form form- horizontal" method="post">
       {{ form.hidden_tag() }}
       {{ form.id }}
        <row>
           <div class="form-group">

               <label for="titleTextBox">{{ form.title.label() }}</label>


                {{ form.title(class="form-control" , size="40", maxlength="80" ) }}

           </div>
             {% if form.title.errors %}
                <ul class="errors">{% for error in form.title.errors %}
                    <li>{{ error }}</li>{% endfor %}
                </ul>
             {% endif %}

        </row>

        <row>
           <div class="form-group">
               <label for="bodyTextBox">{{ form.body.label() }}</label>

               {{ form.body(class="form-control" , rows="3" ,  cols="40") }}


           </div>
             {% if form.body.errors %}
                <ul class="errors">{% for error in form.body.errors %}
                    <li>{{ error }}</li>{% endfor %}
                </ul>
             {% endif %}

        </row>

       <row>
           <div class="form-group">

               <label for="statusTextBox">{{ form.status.label() }}</label>
               {
               {{ form.status(class='form-control') }}


           </div>
             {% if form.status.errors %}
                <ul class="errors">{% for error in form.status.errors %}
                    <li>{{ error }}</li>{% endfor %}
                </ul>
             {% endif %}

        </row>


        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn- default">Update</button>
            <a class="btn" href="{{ url_for('main.blog') }}">Cancel</a>
          </div>
        </div>
  </form>




{% endblock %}

